MONGODB_URI=mongodb+srv://arif:arif1234@smart-finance-manager.09z3vmz.mongodb.net/smart-finance-manager?appName=smart-finance-manager
JWT_SECRET=smart-finance-manager1234
NEXTAUTH_URL=http://localhost:3000
